body {
    overflow-y: hidden;
}

nav ul.left a {
    color: lightcoral !important;
}

#page-container {
    width: 100vw;
    height: 100vh;

    display: table;
    border-collapse: collapse;
}

.page-footer {
    display: table-row;
    vertical-align: bottom;
}