:root {
    --grid-block-margin: 25px;
    --grid-block-body-container-height: 145px;
}

h1, h2 {
    font-weight: 100;
}

h2 {
    font-size: 1.5em;
}

p {
    margin-bottom: 0;
}

.collapsible * {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.collapsible {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-left: none;
    border-right: none;
}

.collapsible, .collapsible * {
    border-color: #bbb !important;
}

.collapsible-header {
    padding: 0.5rem !important;
    pointer-events: none !important;
}

.collapsible-header.has-content {
    padding-left: 1rem !important;
    font-size: 0.9em !important;
}

.collapsible-body {
    padding: 1rem;
    font-size: 0.9rem;
}

.waves-effect.waves-light .waves-ripple {
     background-color: rgba(200, 200, 200, 0.25);
}

#content-title-container {
    padding: 1rem;
    text-align: center;
}

#content-title {
    font-family: 'Value';
    font-size: 2.5em;
    font-weight: lighter;
    margin: 0;
}

@media only screen and (max-width: 450px) {
    #content-title {
        font-size: 2em;
    }
}

#content-title-description-container {
    padding-left: 2.75rem;
    padding-right: 0.75rem;
}

#form {
    position: relative;
}

#form-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    font-size: 24px !important;
}

#content-title-description {
    text-align: center;
    font-family: 'Value';
}

#form-container {
    margin-top: 0;
}

form {
    padding: 40px !important;
}

@media only screen and (max-width: 1200px) {
    form {
        padding: 40px 20px !important;
    }
}

#options-container {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

#sorts-container {
    text-align: center;
}

#filter-buttons-container {
    text-align: center;
    overflow: hidden;
    transition: height 0.3s ease-out;
    height: auto;
}

#filters-title, #sorts-title, #page-title, #filter-buttons-dropdown-text {
    font-family: 'Value';
    font-size: 1.3em;
    margin-bottom: 0.25rem;
    color: #666666;
}

#page-title {
    text-align: center;
    font-family: inherit;
    font-size: 1.2em;
}

@media only screen and (max-width: 450px) {
    #filters-title, #sorts-title, #page-title {
        font-size: 1.10em !important;
    }
}

@media only screen and (max-width: 350px) {
    #filters-title, #sorts-title, #page-title {
        font-size: 0.95em !important;
    }
}

#filter-buttons-dropdown {
    border-bottom: 2px solid #033649;
    cursor: pointer;
}

#filter-buttons-dropdown i {
    position: absolute;
    margin-top: 8px;
    margin-left: 5px;
}

#filter-buttons-dropdown-text {
    text-align: center;
}

#category-filter-arrow {
    margin-top: 5px;
}

#prev-page-btn {
    float: right;
}

#next-page-btn {
    float: left;
}

label {
    display: inline-block;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.settings-label {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 25px;
    background: grey;
    margin-top: 5px;
	border-radius: 50px;
    position: relative;
}

.settings-label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 15px;
	transition: 0.3s;
}

input:checked + .settings-label {
	background: #033649;
}

input:checked + .settings-label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.settings-label:active:after {
	width: 40px;
}

#content-container {
    margin-top: 10vh;
    padding-left: 1rem;
    padding-right: 1rem;
}

#shuffle-container {
    width: 100%;
    min-height: calc((var(--grid-block-body-container-height) + var(--grid-block-margin)) * 5);

    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.grid-block {
    padding-left: 1.25em !important;
    padding-right: 1.25em !important;

    margin-top: var(--grid-block-margin);
    margin-bottom: var(--grid-block-margin);

    transition: transform 0.2s, opacity 0.3s, width 0.15s !important;
}

@media only screen and (max-width: 600px) {
    .grid-block {
        transition: none !important;
    }
}

.grid-block-edge-shadow {
    box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.3);
}

.grid-block-content {
    height: 100%;
    width: 100%;

    display: table;
    border-collapse: collapse;

    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);

    background-color: white;
}

.grid-block-content > * {
    transition: opacity 0.3s;
}

@media only screen and (max-width: 600px) {
    .grid-block-content > * {
        transition: none !important;
    }
}

.grid-block-header-container {
    padding: 10px;

    border-bottom: 1px solid #553180;
}

.grid-block-header-text {
    font-size: 1.1em;
}

.grid-block-body-container {
    height: var(--grid-block-body-container-height);
    overflow-y: hidden;

    transition: height 0.15s !important;
}

@media only screen and (max-width: 600px) {
    .grid-block-body-container {
        transition: none !important;
    }
}

.grid-block-body-container-tall {
    height: calc(var(--grid-block-margin) * 2 + 351px) !important;
}

@media only screen and (max-width: 600px) {
    .grid-block-body-container-tall {
        height: calc(var(--grid-block-margin) * 2 + 450px) !important;
    }
}

.grid-block-description-container {
    padding: 10px 10px 0 10px;
    font-size: 0.95em;

    transition-property: transform, opacity, height !important;
}

@media only screen and (max-width: 600px) {
    .grid-block-description-container {
        transition-property: none !important;
        transition: none !important;
    }
}

.grid-block-description-text {
    line-clamp: 3;
    box-orient: vertical;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
}

.grid-block-icon-big {
    background-size: cover;

    width: 70px;
    min-height: 70px;
    margin: 1rem auto 0;

    transition: opacity 0.15s;
}

@media only screen and (max-width: 600px) {
    .grid-block-icon-big, .grid-block-reasons-container, .grid-block-icon {
        transition: none !important;
    }
}

.grid-block-reasons-container {
    margin-top: 40px;
    transition: opacity 0.2s ease-in-out;
}

.grid-block-reasons-title {
    font-weight: 500;
    font-size: 0.95rem;
    padding-left: 1.05rem;
}

.reason-toggle-btn {
    width: 100%;
    height: 30px;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
    padding: 1rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;

    cursor: pointer;
}

.icon-plus {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    width: 24px;
    height: 24px;
    position: relative;
    top: 0;
    left: 0;

    margin-left: 3px;
}

.icon-plus:after {
    background-color: black;
    width: 12px;
    height: 2px;
    position: absolute;
    top: 11px;
    left: 6px;
    content: "";
}

.icon-plus:before {
    background-color: black;
    width: 2px;
    height: 12px;
    position: absolute;
    top: 6px;
    left: 11px;
    content: "";
}

.reason-container {
    width: 100%;

    border-left: 1px solid #553180;
    border-right: 1px solid #553180;
    border-bottom: 1px solid #553180;
}

.grid-block-footer {
    display: table-row;
    vertical-align: bottom;

    width: 100%;
    height: 1px;
}

.grid-block-icons-container {
    width: 100%;
    height: 100%;
    max-height: 42px;

    display: flex;
    justify-content: space-between;
}

.grid-block-icons-container > * {
    display: inline-block;
    vertical-align: middle;
}

.grid-block-icon {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    width: 22px;
    height: 22px;

    background-image: url('../images/icon6.png');
    background-size: cover;

    display: inline-block;
    transition: opacity 0.2s;
}

.grid-block-heart-container {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-block-likes {
    display: inline-block;
    margin-right: 5px;
    
    text-align: right;
    font-weight: 500;

    pointer-events: none;
}

.grid-block-heart {
    display: inline-block;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;

    width: 22px;
    height: 22px;

    cursor: pointer;
    color: black;

    transition: color 0.05s;
}

.grid-block-heart i {
    font-size: 22px !important;
    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.grid-block-heart-selected {
    background-image: url('../images/heart_filled.png') !important;
}

.bottom-spacetaker {
    width: 100vw;
    height: calc(var(--grid-block-body-container-height) + var(--grid-block-margin) * 2);
}