* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Value';
    src: url('../fonts/value-regular.otf');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 300;
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url("../fonts/materialize-icons.woff2") format('woff2'),
      url("../fonts/materialize-icons.woff") format('woff'),
      url("../fonts/materialize-icons.ttf") format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 18px !important; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;

    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
}

.brand-logo {
    margin-left: 1.25rem;
    font-size: 1.15em !important;
    padding-left: 10px;
    padding-right: 10px;
}

ul.right {
    margin-right: 1.25rem;
}

.collapsible * {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.collapsible {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-left: none;
    border-right: none;
}

.collapsible-header {
    padding: 0.5rem !important;
}

.collapsible-body {
    padding: 1rem;
    font-size: 0.9rem;
}

.waves-effect.waves-light .waves-ripple {
     background-color: rgba(200, 200, 200, 0.25);
}

:root {
    --grid-block-margin: 25px;
    --grid-block-body-container-height: 145px;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

a#site-title {
    padding-left: 100px;
    font-size: 0.98em;
}

#content-title-container {
    text-align: center;

    padding: 1rem;

    border-bottom: 1px solid black;
}

#content-title {
    font-family: 'Value';
    font-size: 2.5em;
    font-weight: lighter;
    margin: 0;
}

h1, h2 {
    font-weight: 100;
}

h2 {
    font-size: 1.5em;
}

p {
    margin-bottom: 0;
}

div:focus {
    outline: none;
}

.no-display {
    display: none !important;
}

.faded-out {
    opacity: 0 !important;
}

.no-events {
    pointer-events: none !important;
}

body {
    overflow-x: hidden;
    min-height: 1200px;
}

.page-footer {
    background-color: #033649;
    padding-top: 0 !important;
    width: 100vw;
}

#content-title-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

#options-container {
    padding-left: 6px;
    padding-right: 1.75rem;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

#filters-title, #sorts-title, #page-title {
    font-family: 'Value';
    font-size: 1.3em;
    margin-bottom: 0.25rem;
    color: #666666;
}

#page-title {
    text-align: center;
    font-family: inherit;
    font-size: 1.2em;
}

#sorts-title {
    text-align: right;
}

.filter-btn, .page-btn {
    background-color: white !important;
    border: 1px solid #033649;
    border-radius: 0;
    box-shadow: none;

    color: black;
    cursor: pointer;

    transition-duration: 0.1s !important;
    
    margin: 0 0.1rem 0.6rem;
}

.page-btn {
    line-height: 40px;
}

#prev-page-btn {
    padding: 0 8px 0 8px;
    float: right;
}

#next-page-btn {
    padding: 0 8px 0 8px;
    float: left;
}

.page-btn i.material-icons {
    vertical-align: middle;
    font-size: 22px !important;
    padding: 0 0 3px;
}

.filter-btn:hover, .page-btn:hover {
    box-shadow: none;
    background-color: #033649 !important;
    color: white;
}

.filter-btn.selected {
    background-color: #033649 !important;
    color: white !important;
}

.filter-btn.selected:hover {
    background-color: #355E6D !important;
}

label {
    display: inline-block;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.settings-label {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 25px;
    background: grey;
    margin-top: 5px;
	border-radius: 50px;
    position: relative;
    float: right;
}

.settings-label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 15px;
	transition: 0.3s;
}

input:checked + .settings-label {
	background: #033649;
}

input:checked + .settings-label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.settings-label:active:after {
	width: 40px;
}

.page-footer .row {
    margin-bottom: 0;
}

#copyright_text, #submit-bugs {
    height: 64px;
    line-height: 64px;
}

#copyright_text {
    margin-left: 10px;
}

#copyright_text a {
    color: lightskyblue;
}

#submit-bugs {
    padding: 0 15px;
    margin-right: 2.75rem;

    color: lightcoral;

    transition: background-color 0.3s;
    display: block;
}

#submit-bugs:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

#navbar {
    background-color: #033649;
}

#content-container {
    margin-top: 10vh;
    padding-left: 1rem;
    padding-right: 1rem;
}

#shuffle-container {
    width: 100%;
    min-height: calc((var(--grid-block-body-container-height) + var(--grid-block-margin)) * 5);

    margin-bottom: 0 !important;
}

.grid-block {
    padding-left: 1.25em !important;
    padding-right: 1.25em !important;

    margin-top: var(--grid-block-margin);
    margin-bottom: var(--grid-block-margin);
}

.extra-block {
    opacity: 0 !important;
    pointer-events: none;
}

.grid-block-content {
    height: 100%;
    width: 100%;

    display: table;
    border-collapse: collapse;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);

    background-color: white;
}

#black-site-cover {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.30);
}

.grid-block-header-container {
    padding: 10px;
    font-size: 1.1em;

    border-bottom: 1px solid #553180;
}

.grid-block-body-container {
    height: var(--grid-block-body-container-height);
    overflow-y: hidden;

    transition: height 0.15s ease-in-out, width 0.15s ease-in-out;
    /*
    145px normal
    379px tall
    */
}

.grid-block-content > * {
    transition: opacity 0.3s;
}

.grid-block-body-container-tall {
    height: calc(var(--grid-block-margin) * 2 + 379px) !important;
}

.grid-block-description-container {
    padding: 10px 10px 0 10px;
    font-size: 0.95em;

    transition-property: transform, opacity, height !important;
}

.grid-block-description-text {
    line-clamp: 3;
    box-orient: vertical;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
}

.grid-block-icon-big {
    background-size: cover;

    width: 70px;
    min-height: 70px;
    margin: 1rem auto 0;

    transition: opacity 0.15s;
}

.grid-block-description-header {
    font-weight: 650;
    margin-bottom: 2px;
}

.grid-block-reasons-container {
    margin-top: 40px;
    transition: opacity 0.2s ease-in-out;
}

.grid-block-reasons-title {
    font-weight: 350;
    font-size: 0.95rem;
    padding-left: 1.05rem;
}

.reason-toggle-btn {
    width: 100%;
    height: 30px;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
    padding: 1rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;

    cursor: pointer;
}

.icon-plus {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    width: 24px;
    height: 24px;
    position: relative;
    top: 0;
    left: 0;

    margin-left: 3px;
}

.icon-plus:after {
    background-color: black;
    width: 12px;
    height: 2px;
    position: absolute;
    top: 11px;
    left: 6px;
    content: "";
}

.icon-plus:before {
    background-color: black;
    width: 2px;
    height: 12px;
    position: absolute;
    top: 6px;
    left: 11px;
    content: "";
}

.reason-container {
    width: 100%;

    border-left: 1px solid #553180;
    border-right: 1px solid #553180;
    border-bottom: 1px solid #553180;
}

.grid-block-footer {
    display: table-row;
    vertical-align: bottom;

    width: 100%;
    height: 1px;
}

.grid-block-icons-container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
}

.grid-block-icons-container > * {
    display: inline-block;
    vertical-align: middle;
}

.grid-block-icon {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    width: 22px;
    height: 22px;

    background-image: url('../images/icon6.png');
    background-size: cover;

    display: inline-block;
    transition: opacity 0.2s;
}

.grid-block-heart-container {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-block-likes {
    display: inline-block;
    margin-right: 5px;
    
    text-align: right;
    font-weight: 500;

    pointer-events: none;
}

.grid-block-heart {
    display: inline-block;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;

    width: 22px;
    height: 22px;

    background-image: url('../images/heart_empty.png');
    background-size: cover;

    cursor: pointer;

    transition: background-image 0.05s;
}

.grid-block-heart-selected {
    background-image: url('../images/heart_filled.png') !important;
}

#bottom-spacetaker {
    width: 100vw;
    height: calc(var(--grid-block-body-container-height) + var(--grid-block-margin) * 2);
}