.row {
    margin-bottom: 0;
}

#top-load-bar {
    width: 0px;
    height: 5px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #78A177;

    transition: width 2.5s cubic-bezier(0.1, 0, 0.3, 1);
}

.input-field {
    margin-top: -0.6rem;
}

#submit-btn {
    margin: 2rem 0.1rem 0.6rem;
}