#page-container {
    width: 100vw;
    height: 100vh;

    display: table;
    border-collapse: collapse;
}

nav ul.left a {
    color: lightcoral !important;
}

#form {
    margin-bottom: 18vh;
}

.row {
    margin-bottom: 0;
}

.form-paragraph {
    font-family: 'Value';
    font-size: 1.05rem;
}

.input-field {
    margin-top: 0.2rem;
}

#idea-main-category-field, .idea-secondary-category {
    margin-top: -0.6rem;
}

#form-bottom-buttons-container {
    margin-top: 5rem;
}

#reject-btn {
    border-color: darkred;
    float: right;
}

#accept-btn {
    border-color: darkgreen;
    float: left;
}

#reject-btn:hover {
    background-color: darkred !important;
    color: white;
}

#accept-btn:hover {
    background-color: darkgreen !important;
    color: white;
}

.page-footer {
    display: table-row;
    vertical-align: bottom;
}

@media only screen and (max-width: 550px) {
    .page-footer {
        height: 64px !important;
    }
}